<div class="registration-container">
    <mat-card class="registration-card">
        <mat-card-header>
            <mat-card-title>Cadastro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-horizontal-stepper [linear]="true" #stepper>

                <!-- Passo 1: Escolha do Tipo de Cadastro -->
                <mat-step [stepControl]="registrationTypeControl">
                    <ng-template matStepLabel>Tipo de Cadastro</ng-template>
                    <div class="type-selection-container">
                        <mat-radio-group [formControl]="registrationTypeControl" (change)="registrationType = registrationTypeControl.value; stepper.next()">
                            <mat-radio-button value="pf" class="type-button">Pessoa Física</mat-radio-button>
                            <mat-radio-button value="pj" class="type-button">Pessoa Jurídica</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-step>

                <!-- Passo 2: Formulário de Informações (PF ou PJ) -->
                <mat-step [stepControl]="registrationType === 'pf' ? pfInfoForm : pjInfoForm">
                    <ng-template matStepLabel>Dados Pessoais/Empresa</ng-template>

                    <!-- Formulário de Pessoa Física -->
                    <form [formGroup]="pfInfoForm" *ngIf="registrationType === 'pf'">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error *ngIf="pfInfoForm.get('nome')?.invalid && pfInfoForm.get('nome')?.touched">O nome é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Sobrenome</mat-label>
                            <input matInput formControlName="sobrenome" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error *ngIf="pfInfoForm.get('sobrenome')?.invalid && pfInfoForm.get('sobrenome')?.touched">O sobrenome é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" required>
                            <mat-icon matSuffix>badge</mat-icon>
                            <mat-error *ngIf="pfInfoForm.get('cpf')?.invalid && pfInfoForm.get('cpf')?.touched">O CPF é obrigatório e deve ter 11 dígitos.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dataNascimento" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="pfInfoForm.get('dataNascimento')?.invalid && pfInfoForm.get('dataNascimento')?.touched">A data de nascimento é obrigatória.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telefone</mat-label>
                            <input matInput formControlName="telefone">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Celular</mat-label>
                            <input matInput formControlName="celular" required>
                            <mat-icon matSuffix>smartphone</mat-icon>
                            <mat-error *ngIf="pfInfoForm.get('celular')?.invalid && pfInfoForm.get('celular')?.touched">O celular é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>E-mail</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-icon matSuffix>mail_outline</mat-icon>
                            <mat-error *ngIf="pfInfoForm.get('email')?.invalid && pfInfoForm.get('email')?.touched">Por favor, insira um e-mail válido.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button matStepperNext color="primary">Próximo</button>
                    </form>

                    <!-- Formulário de Pessoa Jurídica -->
                    <form [formGroup]="pjInfoForm" *ngIf="registrationType === 'pj'">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Razão Social</mat-label>
                            <input matInput formControlName="razaoSocial" required>
                            <mat-icon matSuffix>business</mat-icon>
                            <mat-error *ngIf="pjInfoForm.get('razaoSocial')?.invalid && pjInfoForm.get('razaoSocial')?.touched">A razão social é obrigatória.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nome Fantasia</mat-label>
                            <input matInput formControlName="nomeFantasia" required>
                            <mat-icon matSuffix>store</mat-icon>
                            <mat-error *ngIf="pjInfoForm.get('nomeFantasia')?.invalid && pjInfoForm.get('nomeFantasia')?.touched">O nome fantasia é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>CNPJ</mat-label>
                            <input matInput formControlName="cnpj" required>
                            <mat-icon matSuffix>domain</mat-icon>
                            <mat-error *ngIf="pjInfoForm.get('cnpj')?.invalid && pjInfoForm.get('cnpj')?.touched">O CNPJ é obrigatório e deve ter 14 dígitos.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Inscrição Estadual</mat-label>
                            <input matInput formControlName="inscricaoEstadual">
                            <mat-icon matSuffix>fingerprint</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Inscrição Municipal</mat-label>
                            <input matInput formControlName="inscricaoMunicipal">
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telefone</mat-label>
                            <input matInput formControlName="telefone1">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Celular</mat-label>
                            <input matInput formControlName="celular" required>
                            <mat-icon matSuffix>smartphone</mat-icon>
                            <mat-error *ngIf="pjInfoForm.get('celular')?.invalid && pjInfoForm.get('celular')?.touched">O celular é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>E-mail</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-icon matSuffix>mail_outline</mat-icon>
                            <mat-error *ngIf="pjInfoForm.get('email')?.invalid && pjInfoForm.get('email')?.touched">Por favor, insira um e-mail válido.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button matStepperNext color="primary">Próximo</button>
                    </form>
                </mat-step>

                <!-- Passo 3: Endereço -->
                <mat-step [stepControl]="addressForm">
                    <ng-template matStepLabel>Endereço</ng-template>
                    <form [formGroup]="addressForm">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Logradouro</mat-label>
                            <input matInput formControlName="logradouro" required>
                            <mat-icon matSuffix>location_on</mat-icon>
                            <mat-error *ngIf="addressForm.get('logradouro')?.invalid && addressForm.get('logradouro')?.touched">O logradouro é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Número</mat-label>
                            <input matInput formControlName="numero" required>
                            <mat-icon matSuffix>looks_one</mat-icon>
                            <mat-error *ngIf="addressForm.get('numero')?.invalid && addressForm.get('numero')?.touched">O número é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Complemento</mat-label>
                            <input matInput formControlName="complemento">
                            <mat-icon matSuffix>add_box</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Bairro</mat-label>
                            <input matInput formControlName="bairro" required>
                            <mat-icon matSuffix>place</mat-icon>
                            <mat-error *ngIf="addressForm.get('bairro')?.invalid && addressForm.get('bairro')?.touched">O bairro é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Cidade</mat-label>
                            <input matInput formControlName="cidade" required>
                            <mat-icon matSuffix>location_city</mat-icon>
                            <mat-error *ngIf="addressForm.get('cidade')?.invalid && addressForm.get('cidade')?.touched">A cidade é obrigatória.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Estado</mat-label>
                            <input matInput formControlName="estado" required>
                            <mat-icon matSuffix>map</mat-icon>
                            <mat-error *ngIf="addressForm.get('estado')?.invalid && addressForm.get('estado')?.touched">O estado é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" required>
                            <mat-icon matSuffix>fiber_pin</mat-icon>
                            <mat-error *ngIf="addressForm.get('cep')?.invalid && addressForm.get('cep')?.touched">O CEP é obrigatório e deve ter 8 dígitos.</mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button matStepperPrevious>Voltar</button>
                            <button mat-raised-button matStepperNext color="primary">Próximo</button>
                        </div>
                    </form>
                </mat-step>

                <!-- Passo 4: Senha e Finalização -->
                <mat-step [stepControl]="passwordForm">
                    <ng-template matStepLabel>Senha e Finalização</ng-template>
                    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Senha</mat-label>
                            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">A senha deve ter no mínimo 8 caracteres.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Confirmar Senha</mat-label>
                            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
                            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">As senhas não coincidem.</mat-error>
                        </mat-form-field>
                        <div class="recaptcha-container">
                            <ngx-recaptcha2
                                [siteKey]="siteKey"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>
                            <mat-error *ngIf="passwordForm.get('recaptcha')?.invalid && passwordForm.get('recaptcha')?.touched">Por favor, valide que você não é um robô.</mat-error>
                        </div>
                        <div>
                            <button mat-raised-button matStepperPrevious type="button">Voltar</button>
                            <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid || (registrationType === 'pf' && pfInfoForm.invalid) || (registrationType === 'pj' && pjInfoForm.invalid)">
                                Finalizar Cadastro
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-actions align="end" class="registration-actions">
            Já tem uma conta? <a mat-button color="warn" routerLink="/login">Login</a>
        </mat-card-actions>
    </mat-card>
</div>